<!DOCTYPE html>
<html lang="en">
<head>
  <title>Configure the MySQL (phpMyAdmin) & Display Records</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
</head>
<body>
<div class="container">
<table class="table table-striped">
    <thead>
      <tr>
        <th>Customer ID</th>
		<th>Customer Name</th>
		<th>Email</th>
		<th>Budget</th>
      </tr>
    </thead>
    <tbody>
      {% for resultsdisplay in CustomerDetails %}

      {{resultsdisplay.CustomerID}},{{resultsdisplay.CustomerName}},{{resultsdisplay.Email}}, {{resultsdisplay.Budget}}
      <br>
      {% endfor %}
	</tbody>
</table>	
</div>
</body>
</html>



















